.thread {
  background-color: lightblue;
  width: 95%;
  padding: 2%;
  height: fit-content;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black;
}

.recipient {
  display: flex;
  border: rgba(0, 0, 0, 0.475) solid 2px;
  border-radius: 4px;
  padding: 2px;
}
.threadContainer {
  background-color: white;
  width: 100%;
  display: flex;
}

.messages {
  padding: 2px;
  margin: 2px;
  border: 2px black solid;
}
.newMsg {
  align-self: flex-end;
}
