.sidebar {
  width: 15rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

button {
  border: pink solid 1px;
  margin-bottom: 2px;
  height: 4rem;
  width: 15rem;
  padding: 10px;
  background-color: #007bff;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.newThread {
  background-color: lightblue;
}

.thread {
  background-color: beige;
}
