.sidebar {
  width: 15rem;
  background-color: rgba(240, 248, 255, 0.367);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border-right: rgba(0, 0, 0, 0.532) 1.5px solid;
}

button {
  border: none;
  margin-bottom: 2px;
  height: 4rem;
  width: 15rem;
  padding: 10px;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.37);
}

button:hover {
  background-color: white;
}

.selected {
  background-color: white;
}
