body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(159, 160, 160, 0.715);
  margin: 0;
}

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}